/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: #8BACD9;
  --white: #ffffff;
  --cyan: #00FFF8;
  --very-dark-blue-main-bg: #0D192C;
  --very-dark-blue-card-bg: #15263F;
  --very-dark-blue-line: #2E405A;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

html {
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: var(--very-dark-blue-main-bg) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 1.22rem;
  font-weight: 600;
  color: var(--white);
}


p, span {
  font-weight: 300;
  color: var(--soft-blue);
}

span {
  font-size: 0.89rem;
}

.caption-bold {
  font-weight: 600;
  color: var(--cyan);
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover, a h1:hover {
  color: var(--cyan);
}

/* Desktop styles */

.main {
  background-color: var(--very-dark-blue-card-bg);
  width: 19.44rem;
  border-radius: 0.83rem;
  padding: 1.33rem;
  position: relative;
}

.bgn-image-container {
  position: relative;
}

.bgn-image-container, .bgn-image, .overlay {
  border-radius: 0.55rem;
}

.bgn-image {
  display: block;
  width: 100%;
  border-radius: 0.44rem;
}

.overlay {
  position: absolute;
  background-color: hsla(178, 100%, 50%, 50%);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.heading h1 {
  margin-top: 1.33rem;
}

.overlay:hover {
  opacity: 1;
}

.description {
  margin-top: 1.33rem;
}
.statistics {
  margin: 1.33rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance img, .days-left img{
  margin-right: 0.4rem;
}

.balance, .days-left {
  display: flex; 
  justify-content: center;
  align-items: center;
}


.avatar {
  border-top: 1px solid var(--very-dark-blue-line);
  display: flex;
  justify-items: center;
  padding-top: 0.89rem;

}

.avatar img {
  display: block;
  width: 1.83rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.avatar p {
  margin: auto 0 auto 0.89rem;
}

/* Mobile styles */
@media only screen and (max-width: 800px){
  .main {
    width: 18.17rem;
  }

  .balance span, .days-left span, .avatar p {
    font-size: 0.83rem;
  }
  
}





















































.footer {
  font-size: 0.6rem;
  margin-top: 0.5rem;
}
